@green : #42b983;
@text-color: #222222;
@purple : rgb(42, 9, 46);
@blue: rgba(23, 86, 188, 1);
@orange: rgb(238, 138, 48);

#app {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @text-color;
    min-height: 100vh;
}

body{
    margin: 0;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (max-width: 575px) {
    .container {
        max-width: 100%;
        margin: 0 15px;
    }
}

#nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: @blue;
    }
}

header {
    background-color: @blue;
    width: 100%;
    padding: 10px 0;

    .search-box {
        padding: 5px 0;
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: solid 1px white;
        color: white;

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 1;
            /* Firefox */
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: white;
        }
    }
}

label.flex-checkbox {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .title {
        width: 100%;
    }
}
.flex-row {
    display: flex;
    align-items: center;
}

.list-unstyled{
    list-style: none;
    padding-left: 0;
}

.product-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding-left: 0;
    grid-column-gap: 15px;
    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.product-card {
    
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .3);
    padding: 30px 15px;
    margin: 15px 0;

    .row {
        margin: 0 15px;

        &.description-row {
            margin: 15px;
            text-align: justify;

            .description {
                line-height: 1.5;
            }
        }

        &.style-row {
            ul {
                li {
                    display: inline;
                    margin-right: 10px;
                    color: @blue;
                    font-size: 14px;
                }
            }
        }

        &.days-row {
            .days {
                color: @blue;
                font-weight: 700;
                margin-left: auto;
                text-decoration: underline;
                line-height: 2;
            }
        }

        &.name-row {
            @media only screen and (max-width: 767px) {
                display: block;

                .price {
                    margin-top: 15px;
                }
            }
        }
    }

    h2 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0;
    }

    p {
        font-size: 14px;
        margin-bottom: 0;
    }

    .price {
        color: @orange;
        margin-left: auto;
        font-weight: 700;
    }
}